.tool-list {
    padding: 20px;
    transition: all 0.3s ease;
}

.tool-list h2 {
    color: #2c3e50;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

.tool-list h3 {
    color: #2c3e50;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.tool-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.tool-item {
    border-radius: 8px;
    overflow: hidden;
    background: #f9f9f9;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center; /* 内容を中央揃えに */
}

.tool-item a {
    display: block; /* リンク全体をクリック可能にする */
    text-decoration: none; /* デフォルトのリンクの下線を削除 */
    color: inherit; /* 親要素の色を引き継ぐ */
    transition: transform 0.2s ease-in-out; /* アニメーションをリンクにも適用 */
    cursor: pointer; /* クリック可能であることを示す */
}

.tool-item:hover a {
    transform: scale(1.05); /* ホバー時の拡大アニメーション */
}

.tool-item img {
    width: 100%; /* 画像が幅いっぱいに広がるようにする */
    height: auto;
    margin: 0 auto 10px; /* 画像も中央揃えに */
    display: block;
}

.tool-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #2c3e50;
    text-align: center; /* タイトルを中央揃えに */
}

.tool-item p {
    font-size: 1rem;
    color: #666;
    text-align: center; /* 説明文を中央揃えに */
    padding: 0 5px; /* 左右に少し余白を追加 */
}

/* ダークモード */
.tool-list-dark h2 {
    color: #ffffff;
    font-size: 26px;
}

.tool-list-dark h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.tool-item-dark {
    background: #2a2a2a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tool-item-dark h3 {
    color: #ffffff; /* ダークモード時のh3を白色に変更して視認性向上 */
}

.tool-item-dark p {
    color: #cccccc; /* ダークモード時の説明文をより明るく */
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .tool-list ul {
        flex-direction: column;
    }
}